body {
    margin:0;
    padding:0;
    width:100%;
    color:#8a8a8a;
    font:normal 12px/1.5em "Liberation sans", Arial, Helvetica, sans-serif;
    background:#0f0f0f url(../images/main_bg.gif) repeat left top;
}
#h{
	margin-top: 0px;
	margin-left: 0px;
}
#heading h1{
	position: relative;
	margin-top: 180px;
	margin-left: 50px;
	color: white;
	font-family: cursive;
	margin-bottom: 30px;
}
#para{
	margin-top: 70px;
	margin-left: 100px;
	font-size: 11pt;
	font-family: monospace;
}
.hr1{
  position: relative;
  margin-top: 30px;
  margin-left: 50px;
color: bisque;
width: 90%; 
opacity: 0.4;
}
#contact{
	margin-top: 100px;
	margin-left: 50px;
}
#contact a{
	padding-left: 20px;
}
#fb{
    width: 40px;
    height: 40px;
}
#g{
    width: 40px;
    height: 40px;
}
#mail{
   width: 40px;
    height: 40px;
}
#call{
	 width: 30px;
    height: 30px;
}
#twitter{
	    width: 40px;
    height: 40px;
}
#contact p{
	font-family: cursive;
	font-family: 10pt;
}