body{
	background: url("../Images/blur_22834.jpg") no-repeat;
	background-size: cover;
}
.headTxt>h1{
position: absolute;
top: 160px;
left: 60px;
color: #6ac045;
font-family: cooper black;
font-size: 18pt;
}
input {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    outline: none;
}
 
input[type=password] {
color: white;
background-color: #4E4E4E;
padding-left: 10px;
margin: 10px;
margin-top: 12px;
margin-left: 18px;
width: 450px;
height: 45px;
border: 0px;
border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px;
border-top-left-radius: 12px;
border-top-right-radius: 12px;
}
.form{
position: absolute;
top: 250px;
left: 70px;
width: 1000px;
}
.txt{
position: absolute;
top: 8px;
left: 5px;
font-family: Helvetica Neue,Arial;
font-size: 13pt;
font-weight: bold;
color: #676767;
opacity: 8.0;
}
.new{
	position: absolute;
top: 33px;
left: 5px;
}
.txt1{
	position: absolute;
top: 130px;
left: 5px;
font-family: Helvetica Neue,Arial;
font-size: 13pt;
font-weight: bold;
color: #676767;
opacity: 8.0;
}
.confirm{
		position: absolute;
top: 155px;
left: 5px;
}
.b1{
position: absolute;
top: 310px;
left: 800px;width: 200px;
height: 35px;
font-size: 13pt;
	 background: #6ac045; display: inline-block; padding: 5px 10px 6px; color: #fbf7f7; text-decoration: none; font-weight: bold; line-height: 1; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-box-shadow: 0 1px 3px #999; -webkit-box-shadow: 0 1px 3px #999; box-shadow: 0 1px 3px #999; text-shadow: 0 -1px 1px #222; border: none; position: relative; cursor: pointer; font-family:Verdana, Geneva, sans-serif;
}
.b1:hover{
	background: #97D37D;
}
.hr1{
position: absolute;
position: absolute;
top: 510px;
left: 70px;
color: bisque;
width: 90%; 
height: 0.2px;
opacity: 0.4;
}