body{
	background: url("../Images/blur_22834 (Copy) (2).jpg");
}
label{
	color: black;
}
input {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    outline: none;
}
 
input[type=text] {
 color: white;
background-color: #4E4E4E;
font-size: 12pt;
padding-left: 20px;
margin: 10px;
margin-top: 12px;
margin-left: 18px;
width: 450px;
height: 45px;
border: 0px;
border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px;
border-top-left-radius: 12px;
border-top-right-radius: 12px;
}
.pl1{
	position: absolute;
top: 200px;
left: 75px;
font-family: Helvetica Neue,Arial;
font-size: 13pt;
font-weight: bold;
color: #676767;
opacity: 8.0;
}
.t1{
	position: absolute;
	top: 220px;
	left: 65px;
}
.pl2{
	position: absolute;
top: 290px;
left: 80px;
font-family: Helvetica Neue,Arial;
font-size: 13pt;
font-weight: bold;
color: #676767;
opacity: 8.0;
}
.t2{
	position: absolute;
	top: 300px;
	left: 65px;
}
.pl3{
	position: absolute;
top: 370px;
left: 80px;
font-family: Helvetica Neue,Arial;
font-size: 13pt;
font-weight: bold;
color: #676767;
opacity: 8.0;
}
.t3{
	position: absolute;
top: 390px;
left: 65px;
}
.pl4{
	position: absolute;
top: 450px;
left: 80px;
font-family: Helvetica Neue,Arial;
font-size: 13pt;
font-weight: bold;
color: #676767;
opacity: 8.0;
}
.t4{
	position: absolute;
	top: 470px;
left: 65px;
}
.pl5{
	position: absolute;
top: 540px;
left: 80px;
font-family: Helvetica Neue,Arial;
font-size: 13pt;
font-weight: bold;
color: #676767;
opacity: 8.0;
}
.t5{
	position: absolute;
	top: 560px;
left: 65px;
}
.pl6{
	position: absolute;
top: 640px;
left: 80px;
font-family: Helvetica Neue,Arial;
font-size: 13pt;
font-weight: bold;
color: #676767;
opacity: 8.0;
}
.t6{
	position: absolute;
top: 660px;
left: 65px;
}
.pl7{
	position: absolute;
top: 730px;
left: 80px;
font-family: Helvetica Neue,Arial;
font-size: 13pt;
font-weight: bold;
color: #676767;
opacity: 8.0;
}
.t7{
	position: absolute;
top: 750px;
left: 65px;
}
.pl8{
	position: absolute;
top: 820px;
left: 80px;
font-family: Helvetica Neue,Arial;
font-size: 13pt;
font-weight: bold;
color: #676767;
opacity: 8.0;
}
.t8{
	position: absolute;
	top: 840px;
left: 65px;
}
.pl9{
	position: absolute;
top: 910px;
left: 80px;
font-family: Helvetica Neue,Arial;
font-size: 13pt;
font-weight: bold;
color: #676767;
opacity: 8.0;
}
.t9{
	position: absolute;
	top: 930px;
left: 65px;
}
.b1{
position: absolute;
top: 1050px;
left: 350px;
width: 200px;
height: 35px;
font-size: 13pt;
	 background: #6ac045; display: inline-block; padding: 5px 10px 6px; color: #fbf7f7; text-decoration: none; font-weight: bold; line-height: 1; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-box-shadow: 0 1px 3px #999; -webkit-box-shadow: 0 1px 3px #999; box-shadow: 0 1px 3px #999; text-shadow: 0 -1px 1px #222; border: none; position: relative; cursor: pointer; font-family:Verdana, Geneva, sans-serif;
}
.b1:hover{
	background: #97D37D;
}